*{
    box-sizing: border-box;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}
body{
    background-color: black;
    color: white;
}
.back-img{
    height: 750px;
    width: 100%;
    border-bottom: 8px solid #222;
    background-image: linear-gradient(to top, rgba(10, 10, 10, 0.7),rgba(10, 10, 10, 0.7)),url('https://assets.nflxext.com/ffe/siteui/vlv3/f669a8f4-de1e-49d7-bb56-c9bd1f4a9069/d4f217b2-4001-4df5-bef8-0b026ec133fe/IN-en-20221031-popsignuptwoweeks-perspective_alpha_website_medium.jpg') 
}
.dd{
    border-radius: 0;
}
.dd:hover{
    background-color: black;
    color: white;
}
.sign-in-btn{
    background-color: #e50914;
}
.wallpaper-content{
    max-width: 904px;
}
.img-title{
    max-width: 640px; 
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.1;
    margin-top: 120px;
}
.img-subtitle{
    font-size: 1.625rem;
    margin: 1rem auto;
}
.email-txt{
    font-size: 1.2rem;
    border: none;
}
.email-field{
    max-width: 700px;
}
.get-started-btn{
    background-color: #e50914;
    font-size: 1.6rem;
    border: none;
}
/* Container Back */
.container-back{
    background-color: black;
}
.main-row{
    border-bottom: 8px solid #222;
}
.main-col-text{
    max-width: 520px;
}
.main-title{
    font-weight: 600;
}
.faq-questions{
    max-width: 900px;
    border-bottom: 8px solid #222;
}
.faq{
    background-color: #222;
}
.faq-1{
    font-size: 30px;
}
.faq-btn{
    font-size: 30px;
    color: white;
}
.footer{
    text-decoration: none;
    color: white;
    opacity: 0.5;
    font-size: 15px;
}
.footer:hover{
    color: white;
    opacity: 0.5;
    text-decoration: underline;
}
